/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: white;
}

#weather-dashboard{
    background:skyblue;
    color:white;
    text-align:center;
    font-size:45px;
    font-weight:500;
}

.main{
    display:flex;
    flex-direction:row;
}

.aside{
    display:flex;
    flex-direction:column;
    margin:1%;

}

#search-for-a-city{
    font-size:30px;
    font-weight:500;
    line-height: 1.8;
}

#enter-city-name{
    font-size:15px;
    line-height:1.8;
    margin-bottom:5%;
    height:22%;
}

#search-button{
    background: skyblue;
    color:white;
    line-height: 1.8;
    font-weight: 500;
}

#city-list{
    display:flex;
    flex-direction: column;
}

.section{
    display:flex;
    flex-direction:column;
}

#main-dashboard{
    border: 1px solid black;
    width:150%; /*will update later*/ 
    line-height:2.8;
    margin:10%;
}

#city-header{
    display:flex;
    flex-direction:row;
}

#city-name{
    font-weight:500;
    font-size:30px;
}

#main-uv-div{
    display:flex;
    flex-direction:row;
}


#supplement-header{
    font-weight:500;
    font-size:30px;
    margin:10%;
    width:150%;
}

#supplement-dashboard{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin:10%;
    width:150%;
}

.day-one-dashboard,
.day-two-dashboard,
.day-three-dashboard,
.day-four-dashboard,
.day-five-dashboard{
border:1px solid black;
width:50%;
line-height: 1.8;
margin-right:1%;
background:skyblue;
color:white;
}
