/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: white;
}

#weather-dashboard{
    background:skyblue;
    color:white;
    text-align:center;
    font-size:45px;
    font-weight:500;
}

.main{
    display:flex;
    flex-direction:row;
}

.aside{
    display:flex;
    flex-direction:column;
    margin:1%;

}

#search-for-a-city{
    font-size:30px;
    font-weight:bold;
    line-height: 1.8;
}

#enter-city-name{
    font-size:15px;
    line-height:1.8;
    margin-bottom:5%;
    height:45px;
}

#search-button{
    background: skyblue;
    color:white;
    line-height: 1.8;
    font-weight: 500;
}

#city-list{
    display:flex;
    flex-direction: column;
}

button{
    background-color: #e7e7e7; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:10px;
    border-radius: 5px;
    color:black
}

.section{
    display:flex;
    flex-direction:column;
}

#main-dashboard{
    border: 1px solid black;
    width:150%; /*will update later*/ 
    line-height:2.8;
    margin-left:60px;
    margin-top:35px;
    margin-bottom:20px;
}

#city-header{
    display:flex;
    flex-direction:row;
    align-items: center;
}

#city-name{
    font-weight:bold;
    font-size:30px;
}

#main-uv-div{
    display:flex;
    flex-direction:row;
}

#uv-index-value{
    border-radius: 5px;
    height:40px;
    margin-left:10px;
    width:50px;
    text-align: center;
}

#supplement-header{
    font-weight:bold;
    font-size:30px;
    margin:10px;
    margin-left:60px;
    width:150%;
}

#supplement-dashboard{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin:10px;
    width:150%;
    margin-left: 60px;
}

.day-one-dashboard,
.day-two-dashboard,
.day-three-dashboard,
.day-four-dashboard,
.day-five-dashboard{
border:1px solid black;
width:50%;
line-height: 1.8;
margin-right:10px;
background:skyblue;
color:white;
font-weight:500;
}

#day-one,
#day-two,
#day-three,
#day-four,
#day-five{
    font-weight:bold;
    font-size:larger;
}

img{
    height: 50px;
    width: 50px;
}